body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.speak {
    width: 100vw;
    height: 100vh;
    background-color: rgb(206, 207, 255);
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    /* box-shadow: 2px 2px 2px rgb(214, 223, 226),
                inset 2px 2px 2px rgba(0, 0, 0, 0.5); */
}
